doctype html
html
    head
        title #{title}
        meta(name='user page', content='width=device-width, initial-scale=1.0')
    body
        script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
        script.
            google.charts.load('current', {'packages': ['corechart']});
            google.charts.setOnLoadCallback(init);

            var dataset = !{JSON.stringify(data)};

            var maxTemp,minTemp, tempSum, tmaxDate, tminDate, count;

            /**
             * The aim of this function is initializing this web page.
             */
            function init() {
                document.getElementById('1month').checked = true;
                drawChart();
            }

            /**
             * This function draws the graph by using the google line chart api.
             */
            function drawChart() {
                var array= [['date time', 'temperature']];
                array = makeValidDataForm(array);
                var data = google.visualization.arrayToDataTable(array);

                //required options
                var options = {
                    title: 'temperature graph',
                    pointSize: 5,
                    curveType: 'function',
                    legend: {position: 'bottom'},
                    backgroundColor: '#ff66ff'
                };

                var container = document.getElementById('content');

                var chart = new google.visualization.LineChart(container);
                chart.draw(data, options);

                document.getElementById('tempMax').innerText = 'Max: ' + maxTemp.toString() + '℃';
                document.getElementById('tempMin').innerText = 'Min: ' + minTemp.toString() + '℃';
                document.getElementById('tempAvg').innerText = 'Average: ' + (tempSum / count).toString() + '℃';
            }


            /**
             * This function selects the valid data from the given data set.
             */
            function makeValidDataForm(array) {
                var i, temp, date, lastDate;

                maxTemp = minTemp = dataset[0].temperature;
                tempSum = 0;

                tmaxDate = tminDate = [new Date(Date.parse(dataset[0].timestamp))];
                lastDate = new Date(Date.parse(dataset[dataset.length - 1].timestamp));

                var limitDate = new Date(lastDate); //the limit date (starting date of the graph data)

                //by using the if-else statement, check which radio button was clicked
                if (document.getElementById('calendarInput').checked) {
                    var calVal = document.getElementById('userCalendar').value;
                    limitDate = new Date(Date.parse(calVal));
                } else if (document.getElementById('1hour').checked) {
                    limitDate.setHours(lastDate.getHours() - 1);
                } else if (document.getElementById('1day').checked) {
                    limitDate.setDate(lastDate.getDate() - 1);
                } else if (document.getElementById('1week').checked) {
                    limitDate.setDate(lastDate.getDate() - 7);
                } else {
                    limitDate.setMonth(lastDate.getMonth() - 1);
                }

                count = 0;

                //iterates the given data set, and appends the valid data to the graph data list.
                for (i = 0; i < dataset.length; i++) {
                    date = new Date(Date.parse(dataset[i].timestamp));

                    if (date < limitDate) { //check if the date is in the target range.
                        continue;
                    }

                    temp = [];
                    temp.push(date.toString());
                    temp.push(dataset[i].temperature);

                    if (maxTemp < dataset[i].temperature) { //check if the current temperature is the highest one
                        maxTemp = dataset[i].temperature;
                        tmaxDate = [date];
                    } else if (maxTemp === dataset[i].temperature) {
                        tmaxDate.push(date);
                    }

                    if (minTemp > dataset[i].temperature) { //check if the current temperature is the lowest one
                        tminDate = [date];
                        minTemp = dataset[i].temperature;
                    } else if (minTemp === dataset[i].temperature) {
                        tminDate.push(date);
                    }

                    tempSum += dataset[i].temperature;

                    array.push(temp);
                    count += 1;
                }

                return array; //return the list that contains the data to draw the graph.
            }

            /**
             * The event listener function to check if the user selects the date with the date picker.
             */
            function selectUserInputRadioButton() {
                document.getElementById('calendarInput').checked = true;
            }
        header
        div(style='background-color: #6666ff')
            h1 User: #{user}
            h2 Device: #{deviceNum}
        div(class='content', style='background-color: #ff99ff')
            div(id='content', style='height: 100%; width: 100%')
            div
                center
                    form
                        div
                            input(type='radio', id='calendarInput', name='term', style='display: none')
                            label(for='calendarInput', style='display: none')
                            input(type='radio', id='1hour', name='term')
                            label(for='1hour') 1시간
                            input(type='radio', id='1day', name='term')
                            label(for='1day') 1일
                            input(type='radio', id='1week', name='term')
                            label(for='1week') 1주일
                            input(type='radio', id='1month', name='term')
                            label(for='1month') 1개월
                            button(type='button' id='okButton' onclick='drawChart()') OK
                        div(style='margin-top: 10px')
                            input(type='date', id='userCalendar', name='userCalendar', onchange='selectUserInputRadioButton()')
        div(class='max_min', style='margin-top: 10px; background-color: #ffccff')
            div(class='humidity')
                div(class='humidityTitle')
                div(class='humidityData' style='margin-left: 20px')
                    div(id='humidityMax')
                    div(id='humidityMin')
                    div(id='humidityAvg')
            div(class='temperature')
                div(class='tempTitle', style='margin-left: 20px') Temperature
                div(class='tempData')
                    div(id='tempMax')
                    div(id='tempMin')
                    div(id='tempAvg')