doctype html

html
  head
      title #{title}
      meta(name='initial page', content='width=device-width, initial-scale=1.0')
      script.
          function initPage() {
              //offline online checking..
          }

          window.onload = initPage; //execute the initPage() function when the page is loaded
  body
      header
          .homeHeader
              .onlineOnly(id='online')
              .offlineOnly(id='offline')
      .content