doctype html

html
  head
      title #{title}
      meta(name='initial page', content='width=device-width, initial-scale=1.0')
      script.
          function initPage() {
              //offline online checking..
          }

          window.onload = initPage; //execute the initPage() function when the page is loaded
      link(rel='stylesheet', href='../public/stylesheets/indexPage.css')
  body
      header
          .homeHeader
              a(id='home_link', title='home link', href='/')
                  img(src='../public/images/main_logo.png', id='home_link_image')
      .content