doctype html

html
  head
      title #{title}
      script.
          function initPage() {
              //offline online checking..
          }

          window.onload = initPage; //execute the initPage() function when the page is loaded
  body
      header
          .homeHeader
              .onlineOnly(id='online')
              .offlineOnly(id='offline')
      .content