doctype html

html
  head
    title #{title}
    script.
      function initPage() {
          let user = JSON.stringify(!{data});

          if (user.online) {
              //
          } else {
              let offline = document.getElementById('offline');
          }
      }
  body
    header
      .homeHeader
      .offlineOnly(id='offline')