doctype html
html
    head
        title "AppName" :: Login
        link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
        link(rel='stylesheet', href='stylesheets/style.css')
    body
        .login.well
            h1  Please log in...
            hr
            form(id='login-form', method='POST', action='/login')
                .form-group
                    label(for='username') Username
                    input(type='text', name='username', class='form-control', id='username', placeholder='Enter username')
                .form-group
                    label(for='password') Password
                    input(type='password', name='password', class='form-control', id='password', placeholder='Enter password')
                .form-group
                    button.btn.btn-default Login
                    a(href="register", style='margin-left: 10px') Or Register