doctype html
html
    head
        title #{title}
        meta(name='user page', content='width=device-width; initial-scale=1.0; maximum-scale=2.0; minimum-scale=1.0; user-scalable=yes;')
        link(rel='stylesheet', href='../public/stylesheets/userPage.css')
        script(type='text/javascript', src='../public/javascripts/userPage.js')
        script.
            function initPage() {
                document.getElementById('purchase').addEventListener('click', redirectToPurchasePage);

                appendDevices();
            }

            function appendDevices() {
                let dataSet = !{JSON.stringify(data)}
                let l = dataSet.length;

                let deviceList = document.getElementById('devices');

                let i;
                for (i = 0; i < l; i++) { //iterate the data set by using the for loop
                    let deviceNum = dataSet[i].deviceNum;
                    let deviceName = dataSet[i].deviceName;

                    let div = document.createElement("div"); //new div tag that should be appended.
                    div.class = 'device';

                    let temperDiv = document.createElement('div')
                    temperDiv.id = 'temperature';

                    let temperature = dataSet[i].temperature;

                    let temperImg = document.createElement('img');
                    let temperSpan = document.createElement('span');

                    temperImg.id = 'temperatureImg';
                    temperSpan.id = 'temperatureVal';

                    temperImg.src = '../public/images/if_temperature_354242.svg'

                    let deviceNameSpan = document.createElement('span');
                    deviceNameSpan.innerText = deviceName;
                    deviceNameSpan.id = deviceName;
                    deviceNameSpan.class = 'deviceName';

                    temperSpan.innerText = temperature + ' ℃';

                    //add the onclick event listener to the temperature div tag.
                    temperDiv.onclick = function() {
                        redirectToDataPage(deviceNum);
                    };

                    let button = document.createElement('button');

                    button.innerText = 'change device name';
                    button.type = 'button';

                    button.onclick = function() {
                        let newName = prompt('Please input the new device name', deviceName);

                        //to do nothing if the user clicked the 'cancel' button
                        if (newName) {
                            changeTheDeviceName(deviceNum, newName, deviceName); //send the AJAX request to the server to change the device name.
                        }
                    }

                    temperDiv.appendChild(deviceNameSpan);
                    temperDiv.appendChild(temperImg);
                    temperDiv.appendChild(temperSpan);

                    div.appendChild(temperDiv); //append the div tag for the temperature to the div tag for the device info.
                    div.appendChild(button);
                    deviceList.appendChild(div); //add the child node to the div tag who's id is 'devices'.
                }
            }

            window.onload = initPage; //call the initPage function when the page is on load.
    body
        header(id='navigate_bar', class='navigate_bar')
            .navbarContainer
                nav(class='navbar navbar-light')
                    .navbar-collapse(id='header_navigator')
                        ul(class='navbar-nav')
                            li(class='nav-item')
                                a(class='nav-link', href='/', title='go to homepage', id='homeButton')
                                    img(src='../public/images/home.svg', id='home_link_image')
        h2(id='userID') #{user}
        h2(id='deviceTitle') Devices
        div(class='devices', id='devices')
        .datahubImg
            img(id='mainImg', src='../public/images/DataHub4U-1.png')
        h2(id='optionTitle') Expansion Options
        .expansionOptoins(id='options')
            .registerNewSensor(id='newDevice')
                center
                    span(id='registerText', class='optionText') Register New Device
            .purchaseNewDevice(id='purchase')
                center
                    span(id='purchaseText', class='optionText') Purchase New Device