body {
    margin: 0;
    padding: 0;
}

header {
    height: 7vmax;
    background-color: #455b7c;
}

img {
    padding-top: 1vmax;
    height: 5vmax;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-right: 3vmin;
    float: left;
}