body {
    margin: 0;
    padding: 0;
}

header {
    height: 8vmax;
}

img {
    padding-top: 1vmax;
    height: 7vmax;
}

button {
    width: 9vmax;
    margin-right: 20vw;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    margin-right: 3vmin;
    display: inline-block;
}