body {
    margin: 0;
    padding: 0;
}

header {
    height: 7vmax;
    background-color: #455b7c;
}

img {
    padding-top: 1vmax;
    height: 5vmax;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h2 {
    color: #000000;
    font-size: 6vmin;
}

h2 #userID {
    margin-bottom: 5vmin;
}

h2 #deviceTitle {
    margin-top: 5vmin;
}

h2 #optionTitle {
    margin-top: 10vmin;
}

#temperature {
    border-style: groove;
    border-color: #808080;
    margin: 5vmin 1vmin 3vmin 1vmin;
    height: 10vmin;
}

span {
    font-size: 5vmin;
    color: #000000;
}

#temperatureVal {
    margin-left: 2vmax;
    margin-right: 3vmax;
}

#temperatureImg {
    height: 7vmin;
    margin-left: 30vw;
}

div .registerNewSensor {
    border-style: groove;
    border-color: #808080;
    margin: 5vmin 1vmin 5vmin 1vmin;
}

div .purchaseNewDevice {
    border-style: groove;
    border-color: #808080;
    margin: 5vmin 1vmin 5vmin 1vmin;
}